<div class="hero">
  <img src="../assets/product-images/hero2copy.jpg" alt="">
  <div class="front-headline headline">
    <h1 class="headline shadow">huge summer sale</h1>
    <div class="cta">
      <a [routerLink]="['/products']">Shop sale</a>
    </div>
  </div>
</div>
<p class=" intro section-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem corrupti reiciendis animi, non illo expedita inventore laboriosam, ipsa quam minus adipisci. Debitis alias vel sed distinctio veniam pariatur accusamus ipsam id aliquid doloribus architecto voluptatem et dolor fugiat aut nulla ducimus eveniet, iure, ut hic! Quos eaque, consectetur, tempora consequatur eveniet laboriosam, sit quis eligendi nam illum recusandae iste officiis adipisci repellat nemo ab ad?</p>