.product {
  width: 233px;
  // background: orange;
}

.product__caption {
  // background: red;
  display: flex;
  flex-direction: column;
  

}

.product__name {
  // background: green;
  // text-align: center;

}
.product__price {
  font-weight: 430;
}