<div class="products-div flex-between">
  <div class="product flexbox column" *ngFor="let product of products">
    <a [title]="product.name + ' details'" [routerLink]="['/products', (product.id - 1)]">
    <div class="product__image ">
      <img src="{{product.thumbnailMed}}" alt="{{product.title}}">
    </div>
    <div class="product__caption flexbox flex row">
      <p class="product__name">{{ product.name }}</p>
      <p class="product__price ">{{ product.price }}</p>
    </div></a>

  </div>
  
</div>